<% if (req.session.user) {%>


<div id="main-wrapper">

  
<body  ng-app="socketAppUsers" ng-controller="SessionsController" >
<h1> Private chat Room </h1>
<input list="bieres" type="text" id="choix_bieres">
<datalist id="bieres">
 
    <div ng-repeat="user in UserListOnLine">    <option value='{{ user.userLog.FirstName }} '>  </div>
</datalist>

<h1>Users online</h1>
 <table  class="table">
    <tr ng-repeat="user in UserListOnLine | limitTo: 15">

  <td class="col-md-12 td_class " > 
       {{ user.userLog.FirstName }}  </td>
</div>
      

   
  
    </tr>
  </table>

 
  </body>

</div>
<% } %>