<%if(req.session.User){%>

                       <div id="main-wrapper">
                    <div class="row">
                        <div class="col-sm-12 col-lg-8">
                          
                      
                            <div class="panel panel-white">
                             
                                    <div class="panel-body slimscroll">
                                <h3> This Class Room has finished, sorry.</h3>
                                    </div>
                                </div>
                                </div>
                                </div>
                                </div>
                <div class="page-footer">
                    <p class="no-s">2016 &copy; Hanen Hamroun</p>
                </div>
                <%}%>