<% if(req.session.User) {%>

<div class="panel-body">
                             
                                <div role="tabpanel">
                             
                            <div class="tab-content">
                                 <div role="tabpanel" class="tab-pane fade active in p-v-lg" id="all">


                                            
                                          
                                           
                                        
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
<%}%>


