
<div id="messageDiv"> </div>
<input type="text" name="msg" id="msg"> <br>
<input type="hidden" value='<%=session.User.FirstName%>' id="from">
<input type="hidden" value="57602c506da3f894197acac9" name="hanen" id="hanen">
<button id="send">  Send to hanen </button>