       <%if(req.session.User){%> 
                <div id="main-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <section id="cd-timeline" class="cd-container">
		
<div id="infoEventG"> 

	<div class="cd-timeline-block" >
		
		</div> <!-- cd-timeline-block -->
</div>
	

		

	
	</section> <!-- cd-timeline -->
                        </div>
                    </div><!-- Row -->
                </div><!-- Main Wrapper -->
                <div class="page-footer">
                    <p class="no-s">2016 &copy; Hanen Hamroun.</p>
                </div>
                <%}%>