<% if (req.session.user) {%>

 
                <div id="main-wrapper">

  <body ng-app="socketApp" ng-controller="ChatController">

   <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-route.js"></script>
    <script src="/js/dependencies/angular-loader.js"></script>
    <script src="/js/dependencies/angular-mocks.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/ap.js"></script>
   <script src="/js/dependencies/jquery.js"></script>


  
<div >
    <div class="col-lg-12">
      
      <form class="form_chat">
        <div class="col-lg-4 col-md-3">
          <!-- Username -->
            <input ng-model = '<%=session.user.FirstName%>' class="form-control">
            </div>
            
        <div class="col-lg-6 col-md-5">
          <!-- Chat Message -->
            <input type="text" ng-model = "chatMessage" class="form-control" placeholder="YourMessage">
            </div>
            <button class="btn btn-default col-lg-2 col-md-2" ng-click="sendMsg()">Send</button>  
      </form>
      
    </div>
  </div>

  <div class="col-md-12" style="padding:100px">
  <table  class="table">
    <tr class="chat_message" ng-repeat="chat in chatList | orderBy:predicate:reverse | limitTo: 15">
      <td class="col-md-12 td_class">  {{ chat.user }}: {{ chat.message }}</td>
    </tr>
  </table>
</div>

   
  </body>
                    <div class="row">
                    </div><!-- Row -->
                </div><!-- Main Wrapper -->
                <div class="page-footer">
                    <p class="no-s">2016 &copy; Hamroun Hanen.</p>
                </div>


<% } %>